@model GigHub.ViewModels.GigsVM;


@{
    ViewData["Title"] = "Home Page";
}

<h1 class="m-3">@Model.Heading</h1>
<form class="input-group mb-3 w-50" asp-action="Search" asp-controller="Gigs" method="post">
    <input type="text" asp-for="SearchTerm" class="form-control" placeholder="Search by artist,genre... " aria-label="Recipient's username" aria-describedby="basic-addon2">
    <button type="submit" class="input-group-text" id="basic-addon2">
        <i class="fas fa-search"></i>
    </button>
</form>

<ul id="gigs" class="gigs">
    @foreach (var g in Model.UpcomingGigs)
    {
        <li class="mb-2">
            <div class="date">
                <div class="month">
                    @g.DateTime.ToString("MMM")
                </div>
                <div class="day">
                    @g.DateTime.ToString("d ")
                </div>
            </div>
            <div class="details">
                <span class="artist">
                    <a asp-action="GigDetails" asp-controller="Gigs" asp-route-id="@g.Id">@g.Artist.Name</a>

                    @if(@g.IsCancled)
                    {
                     <span class=" alert alert-warning">Canceled</span>
                    }

                    

                </span>
                <span class="genre d-block">@g.Genre.Name</span>
                @if (@Model.showActions && !g.IsCancled)
                {
            <button id="btn" data-gig-id="@g.Id"
                    class="btn @(Model.Attendances.Contains(g.Id) ? "btn-primary" : "btn-light")  btn-sm js_toggle_attendance">
                                @(Model.Attendances.Contains(g.Id) ? "Going" : "Going?")
            </button>
                }

            </div>
    </li>
}
                
</ul>



@section Scripts
{
    <script>
      
        $(document).ready(function ()
        {
            GigsController.init("#gigs");

        });
            
    </script>

}