@model GigHub.ViewModels.GigsVM;


@{
    ViewData["Title"] = "Home Page";
}

<h1 class="m-3">@Model.Heading</h1>
<form class="input-group mb-3 w-50" asp-action="Search" asp-controller="Gigs" method="post">
    <input type="text" asp-for="SearchTerm" class="form-control" placeholder="Search by artist,genre... " aria-label="Recipient's username" aria-describedby="basic-addon2">
    <button type="submit" class="input-group-text" id="basic-addon2">
        <i class="fas fa-search"></i>
    </button>
</form>

<ul class="gigs">
    @foreach (var g in Model.UpcomingGigs)
    {
        <li>
            <div class="date">
                <div class="month">
                    @g.DateTime.ToString("MMM")
                </div>
                <div class="day">
                    @g.DateTime.ToString("d ")
                </div>
            </div>
            <div class="details">
                <span class="artist">
                    <a asp-action="GigDetails" asp-controller="Gigs" asp-route-id="@g.Id">@g.Artist.Name</a>

                    @if(@g.IsCancled)
                    {
                     <span class=" alert alert-warning">Canceled</span>
                    }

                    @if (@Model.showActions)
                    {
                        <button data-artist-id="@g.ArtistId" class="btn  
                                 @(Model.Followings.Contains(g.ArtistId) ? "text-primary" : "text-black-50")
                                btn-link  btn-sm js_toggle_following">
                            @(Model.Followings.Contains(g.ArtistId)? "Following": "Follow")
                        </button>
                    }

                </span>
                <span class="genre">@g.Genre.Name</span>
                @if (@Model.showActions && !g.IsCancled)
                {
            <button id="btn" data-gig-id="@g.Id"
                    class="btn @(Model.Attendances.Contains(g.Id) ? "btn-primary" : "btn-light")  btn-sm js_toggle_attendance ml-5">
                                @(Model.Attendances.Contains(g.Id) ? "Going" : "Going?")
            </button>
                }

            </div>
    </li>
}
                
</ul>



@section Scripts
{
    <script>
      
        $(document).ready(function ()
        {
            $(".js_toggle_attendance").click(function (e)
            {
                var button = $(e.target);     
                var gigId = Number.parseInt(button.attr("data-gig-id"));

                if (button.hasClass("btn-light")) {
                    $.ajax({
                        url: "/api/Attendances",
                        method: "POST",
                        data: JSON.stringify({ gigId: gigId }),
                        headers: {
                            'Content-Type': 'application/json',
                            'Accept': 'application/json'
                        },

                        success: function () {

                            button.
                                removeClass("btn-light")
                                .addClass("btn-primary")
                                .text("Going")
                        },
                        error: function (status) {
                            console.log(status);
                        }
                    });
                } else {
                    $.ajax({
                        url: '/api/Attendances/Gigs/' + gigId,
                        method: 'DELETE',
                        success: function () {
                            button.
                                removeClass("btn-primary")
                                .addClass("btn-light")
                                .text("Going?")
                        },
                        error: function () {
                            console.log("there is error");
                        }
                    });
                }
               

        });

        });
        $(document).ready(function ()
        {

            $(".js_toggle_following").click(function (e) {
                var button = $(e.target);
                var followeeId = (button.attr("data-artist-id"));
               
                if (button.hasClass("text-black-50")) {
                    
                    $.ajax
                        ({
                            url: "/api/Following",
                            method: "POST",
                            data: JSON.stringify({ FolloweeId: followeeId }),
                            headers: {
                                'Content-Type': 'application/json',
                                'Accept': 'application/json'
                            },

                            success: function (data) {
                                button
                                    .removeClass("text-black-50")
                                    .addClass("text-primary")
                                    .text("Following")
                            }
                        });
                }
                else {
                    $.ajax
                    
                        ({
                            url: "/api/Following/" + followeeId ,
                            method: "DELETE",
                            success: function () {
                                button.removeClass("text-primary")
                                    .addClass("text-black-50")
                              .text("Follow")
                            }

                        });
                 }
                             
            
            });
        });
            
    </script>

}