@model GigHub.ViewModels.GigsVM;


@{
    ViewData["Title"] = "Home Page";
}

<h1 class="m-3">@Model.Heading</h1>
<form class="input-group mb-3 w-50" asp-action="Search" asp-controller="Gigs" method="post">
    <input type="text" asp-for="SearchTerm" class="form-control" placeholder="Search by artist,genre... " aria-label="Recipient's username" aria-describedby="basic-addon2">
    <button type="submit" class="input-group-text" id="basic-addon2">
        <i class="fas fa-search"></i>
    </button>
</form>

<ul class="gigs">
    @foreach (var g in Model.UpcomingGigs)
    {
        <li>
            <div class="date">
                <div class="month">
                    @g.DateTime.ToString("MMM")
                </div>
                <div class="day">
                    @g.DateTime.ToString("d ")
                </div>
            </div>
            <div class="details">
                <span class="artist">
                    @g.Artist.Name

                    @if(@g.IsCancled)
                    {
                     <span class=" alert alert-warning">Canceled</span>
                    }

                    @if (@Model.showActions)
                    {
                        <button data-artist-id="@g.ArtistId" class="btn btn-link btn-sm js_toggle_following">Follow</button>
                    }

                </span>
                <span class="genre">@g.Genre.Name</span>
                @if (@Model.showActions && !g.IsCancled )
                {
                    <button id="btn" data-gig-id="@g.Id" class="btn btn-outline-primary btn-sm js_toggle_attendance ml-5">Going ?</button>
                }

            </div>
    </li>
}
</ul>



@section Scripts
{
    <script>
      
        $(document).ready(function ()
        {
            $(".js_toggle_attendance").click(function (e)
            {
                var button = $(e.target);
                var btn = document.getElementById("btn");
                
                var gigId = Number.parseInt(button.attr("data-gig-id"));
           
                $.ajax({
                    url: "/api/Attendances",
                    method: "POST",
                    data: JSON.stringify({ gigId: gigId }),
                    headers: {
                        'Content-Type': 'application/json',
                        'Accept': 'application/json'
                    },
                    
                    success: function () {
                       
                        button.
                            removeClass("btn-outline-primary")
                            .addClass("btn-info")
                            .text("Going")
                    },
                    error: function (status) {
                        console.log(status);
                    }
            });

        });

        });
        $(document).ready(function ()
        {

            $(".js_toggle_following").click(function (e) {
                var button = $(e.target);
                var followeeId = (button.attr("data-artist-id"));

                $.ajax
                    ({
                        url: "/api/Following",
                        method: "POST",
                        data: JSON.stringify({ FolloweeId: followeeId }),
                        headers: {
                            'Content-Type': 'application/json',
                            'Accept': 'application/json'
                        },
             
                        success: function (data) {
                            button
                                .text("Following")
                        }
                    });
            
            });
        });
            
    </script>

}