
@model GigHub.ViewModels.GigFormVM;
@{
    ViewData["Title"] = "Create";
}

<h3>Add A Gig</h3>
    <div class="container">
        <div style="width:500px">
            <p class="alert alert-info">All Fields Are <strong>Required</strong></p>
            <form asp-action="Create" method="post">
                <div class="form-group">
                    <label asp-for="@Model.Venue"></label>
                    <input type="text" class="form-control" asp-for="@Model.Venue" autofocus="autofocus">
                    <span asp-validation-for="@Model.Venue" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.Date"></label>
                    <input  class="form-control" asp-for="@Model.Date" placeholder="eg 1 jan 2020">
                    <span asp-validation-for="@Model.Date" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.Time"></label>
                    <input class="form-control" asp-for="@Model.Time" placeholder="eg 20:00">
                    <span asp-validation-for="@Model.Time" class="text-danger"></span>
                </div>
                <div class=" form-group">
                    <label asp-for="@Model.Genre"></label>
                    <select class="form-control" asp-for="@Model.Genre" asp-items="@(new SelectList(Model.Genres,"Id","Name"))">
                        <option>Select..</option>
                    </select>
                    <span asp-validation-for="@Model.Genre" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </form>

        </div>

    </div>

