
@model GigHub.ViewModels.GigFormVM;
@{
    ViewData["Title"] = "Create";
}

<h3>Add A Gig</h3>
    <div class="container">
        <div style="width:500px">
            <form>
                <div class="form-group">
                    <label asp-for="@Model.Venue"></label>
                    <input type="text" class="form-control" asp-for="@Model.Venue">
                </div>
                <div class="form-group">
                    <label asp-for="@Model.Date"></label>
                    <input  class="form-control" asp-for="@Model.Date">
                </div>
                <div class="form-group">
                    <label asp-for="@Model.Time"></label>
                    <input  class="form-control" asp-for="@Model.Time">
                </div>
                <div class=" form-group">
                    <label asp-for="Genre"></label>
                    <select class="form-control" asp-items="@(new SelectList(Model.Genres,"Id","Name"))" >
                        <option>Select..</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </form>

        </div>

    </div>

