@model GigHub.ViewModels.GigDetailsVM

@{
    ViewData["Title"] = "GigDetails";
}

<h1>Gig Details</h1>

<div class="m-3">

    <h2>
        @Model.Gig.Artist.Name

       
                @if (@Model.showActions)
                {
                    <button data-artist-id="@Model.Gig.ArtistId" class="btn
                                 @(Model.Followings.Contains(Model.Gig.ArtistId) ? "btn-primary" : "btn-light")
                                 btn-sm js_toggle_following">
                        @(Model.Followings.Contains(Model.Gig.ArtistId)? "Following": "Follow")
                    </button>
                }
    </h2>

    <p>Performing at @Model.Gig.Venue on @Model.Gig.DateTime </p>

    @if (Model.showActions && Model.IsAttending)
    {
        <span>You are going this event</span>
    }

</div>

@section Scripts
{
    <script>
        $(document).ready(function () {

            GigsDetailsController.follow();
            
        });

    </script>


}